.mains{
    display:block;
    justify-content: center;
    align-items: center;
    > h1{
        font-size: 45px;
        position: absolute;
        margin-top: 85px;
        margin-left: 33px;
        color: white;
        font-weight: 550;
    }
    > .energ{
        height: 85vh;
        width: 100vw;
        object-fit:fill;
    }

}
.headi{
    display: flex;
    justify-content: center;
    align-items: center;
    > h2{
        margin-top: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        font-size: 40px;
    }
}


// body {
//     margin-top: 498px;
//     font-family: 'Raleway', sans-serif;
//     background-image: radial-gradient(circle at center, #e6eaf1, #bdc7db);
//     background-size:cover;
//     background-repeat: no-repeat;
//     height: 70vh;
//     display: flex;
//     justify-content: center;
//     overflow: scroll;
//     align-items: center;
//     // background: radial-gradient(ellipse at bottom, #1b2735, #c6cce7);
//     font-weight: 600;
//   }


  .all {
    margin-top: 40px;
    display: flex;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
  }
  .all:hover {
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
    .text {
      opacity: 1;
    }
    & > div {
      opacity: 1;
      transition-delay: 0s;
    }
    .explainer {
      opacity: 0;
    }
  }
  
  .left, .center, .right, .lefter, .righter {
    width: 170px;
    height: 120px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 5px rgba(100, 100, 255, .4);
    opacity: 0;
    transition: all .3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    cursor: pointer;
    background-blend-mode: color-burn;
    &:hover {
      box-shadow: 0 0 30px 10px rgba(100, 100, 255, .6);
    background-color: rgb(231, 231, 240);
    }
  }
  .text {
    transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease;
    bottom: 0;
    left: 5px;
    position: absolute;
    will-change: transform;
    color: #fff;
    text-shadow: 0 0 5px rgba(100, 100, 255, .6)
  }
  .lefter {
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  }
  .lefter {
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  }
  .left {
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  }
  .center {
    opacity: 1;
    transform: translateX(0px) translateZ(0px) rotateY(0deg);
  }
  .right {
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  }
  .righter {
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  }
  .righter {
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  }
  .explainer {
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    transition: all .6s ease;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: radial-gradient(circle at center top, #cce, #33a);
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  
  .ref {
    background-color: #000;
    background-image: linear-gradient(to bottom, #d80, #c00);
    border-radius: 3px;
    // padding: 7px 10px;
    position: absolute;
    font-size: 16px;
    // bottom: 10px;
    // right: 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    &::first-letter {
      font-size: 12px;
    }
  }

 .textst{
    margin-left: 10px;
    font-weight: 400;
} 

.logo1{
    object-fit: cover;
    height: 15vh;
    width: 10vw;
    margin-top: 13px;
    margin-left: 19px;
}
.logo3{
    margin-left: 0px;
    object-fit:contain;
    height: 19vh;
    width: 13vw;
}
.logo4{
    margin-left: 0px;
    object-fit:contain;
    height: 19vh;
    width: 13vw; 
}
.logo5{
    margin-left: 0px;
    object-fit:contain;
    height: 19vh;
    width: 13vw;
}
.logo8{ 
    margin-left: 0px;
    object-fit:contain;
    height: 19vh;
    width: 13vw;
}
.logo9{
    margin-left: 0px;
    object-fit:contain;
    height: 19vh;
    width: 13vw;
}
.logo11{
    margin-left: 0px;
    object-fit:contain;
    height: 19vh;
    width: 13vw;   
}
.explainer{
    margin-top: -116px;
    position: relative;
}

.contr{
    margin-top: -100px;
}