.imgf{
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.testimonial-text{
    font-weight: 350;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 30px;
    opacity: 0.9;
}
.testimonial-text:hover{
    transform: scale(1.2);
}
.testimonial-texts{
    font-weight: 350;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 30px;
    opacity: 0.9;
}
.testi{
    font-weight: 600 !important;
    margin-bottom: -75px !important;
}

.testmimo{
    margin-top: 150px;
    background: linear-gradient(to bottom, #f4cca2 30%, #f1a97c 100%);
}
.fst-italic{
    font-weight: 400;
}

