.heading{
    // margin-top: -60px;
    font-weight: 700;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration :underline;
    text-decoration-color: rgb(240, 207, 183);
    text-transform: uppercase;
}

.h4{
    font-size: 25px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
}

.p1{
    font-size: 14px;
    font-weight: 450;
}

.as{
    border: 1px solid black;
    border-style: groove;
    margin-top: 20px !important;
}

.icn-sunplugged:hover{
 transform:scale(1.2);
}

.roof{
    // margin-top: 61px;
    width:100vw;
    height: 80vh !important;
}

.come{
    display: flex;
    justify-content:center;
    align-items:center;
    position: absolute;
    font-size: 50px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(230, 238, 248);;
    margin: -107px 0px 0px 36px;
}


.breadcrumbs{
    font-size: 25px;
    position: absolute;
    margin-top: 270px;
    margin-left: 36px;
    color: rgb(230, 238, 248);;
}

.gf{
    margin-top: 50px !important;
}
